.scrollableWrapper{
    display: flex;
    /* gap: 25px; */
    height: 20rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
}
::-webkit-scrollbar {
    display: none;
  } 
  
  .horizontal-scroll__item {
    align-items: center;
    color: white;
    display: flex;
    flex: 0 0 20rem;
    justify-content: center;
    scroll-snap-align: start;
  }